body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* Header styles */
.headerContainer {
    background: rgba(0, 0, 0, 0.8);
}

header h2 {
    color: #fff;
}

.application {
    max-width: 200px;
    margin: auto;
}

.container {
    width: 100%;
}


/* Header uses flexbox for layout */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header>div {
    padding: 10px;
}



#sudoku-grid2 {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    gap: 1px;
}

#sudoku-grid2>input {
    max-width: 20px;
    border-right: solid black 1px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
}

#sudoku-grid2>input:nth-child(3n) {
    border-right: solid black 2px !important;
}

.invalid {
    border: solid red 2px !important;
    border-radius: 4px;
    background-color: #FF797A;
}

.col-2,
.col-5,
.col-8 {
    border-bottom: solid black 2px !important;
}


/* Footer styles */
footer {
    background: rgba(0, 0, 0, 0.8);
    margin-top: 40px;
    padding: 40px;
}

footer>div>p {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
}

/* Main content margin */
main {
    margin: 0 10px;
}